# Ignore everything
*

# Gitignore
!.gitignore

!.github/
!.github/workflows/
!.github/workflows/*.yml

!mise.toml
!dagger.json

# README
!README.md

# Except Docker related files
!Dockerfile
!Dockerfile.bug
!.dockerignore
!docker-compose.yml
!docker/consul/server.json

# Systemd
!systemd/
!systemd/*.container

# Except Golang build ecosystemd
!go.mod
!go.sum

# Except our Golang application
!helloworld/
!helloworld/*.proto
!helloworld/*.go
!helloworld/*.yaml

!client/
!client/*.go

!server/
!server/*.go
